# Ignore node_modules directory
node_modules/

# Ignore .env file (containing sensitive information)
.env

# Ignore build artifacts



# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store
